################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreCodedChatbot.ApiContract/.vs/CoreCodedChatbot.ApiContract/v16
/CoreCodedChatbot.ApiContract/CoreCodedChatbot.ApiContract/obj/Debug/netstandard2.0
/CoreCodedChatbot.ApiContract/CoreCodedChatbot.ApiContract/obj
/CoreCodedChatbot.ApiContract/CoreCodedChatbot.ApiContract.sln.DotSettings.user
