################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreCodedChatbot.ApiContract/.vs/CoreCodedChatbot.ApiContract/v16
